AddDefaultCharset UTF-8
ServerSignature Off
SetEnv TZ UTC
Options -Indexes

<ifModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.+)$ /api/index.php [L,QSA]
</ifModule>

php_value date.timezone UTC
php_value default_charset utf-8
php_value auto_prepend_file /home/bp/api.protosite.rocks/docs/_php/init.php